footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    display: grid;
    place-items: center;
}

footer h2 {
    margin: 0;
    padding: 0;
    color: #484848;
}